*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
    font-size: 1.1rem;
    line-height: 1.5;
}

h1, h2, h3{
    padding: 1em 0;
}

p{
    padding: 1em 0;
}

.btn{
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.btn:hover{
    background: #f4f4f4;
    color: #333;
}

.grid{
    display: grid;
    grid-gap: 20px;
}

/* Navigation */
#main-nav{
    position: fixed;
    top: 0;
    width: 100%;
}

#main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
    background: #fff;
    opacity: 0.7;
}

#main-nav a{
    display: block;
    text-decoration: none;
    padding:0.8rem;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-size: .9rem;
}

#main-nav a:hover, #main-nav a:active{
    background: #333;
    color: #f4f4f4;
}

/* Header Showcase */
#showcase{
    color: #333;
    text-align: center;
}

#showcase .bg-image{
    position: absolute;
    background: #666 url('images/cover-luisa.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
}

#showcase h1{
    font-family: 'Comfortaa';
    padding: 0;
}

#showcase p{
    font-family: 'Comfortaa';
}

#showcase .content-wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: left;
    text-align: justify;
    padding: 0 3.5em;
    padding-right: 40%;
}

/* Section A */
#section-a{
    margin: 0 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#section-a .mainbar{
    flex:2;
}

#section-a p{
    padding: 30px;
    margin: 0 30px;
    text-align: justify;
    color: #f4f4f4;
    background: #124CA6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(104, 104, 104, 0.8);
}

#section-a .sidebar{
    flex:1;
}

#section-a img{
    border-radius: 1000px;
    width: 300px;
    padding: 0 30px;
    margin: 0 30px;
}

/* Section B */
#teste{
    height: 100hv;
}
#section-b{

    background: #ccc;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    padding: 3rem;
}

.box{
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    border: rgb(185, 185, 185) 1px solid;
    background: rgb(233, 232, 232);
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); 
    color: #333;
    margin: 15px;
}

.box h3{
    text-align: center;
}

.box p{
    text-align: justify;
}

#section-b .sidebar{
    text-align: center;
}

#section-b img{
    width: 30%;
}




@media(max-width: 1000px){
    #showcase .content-wrap{ 
        padding: 0 4rem;
        align-items: center;
    }
}